/*-------------------
  Header and Navigation Section
---------------------*/

@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;
@use "../vendors/bootstrap/mixins/breakpoints" as *;

#header {
  .navbar-shadow {
    box-shadow: 0 0.125rem 0.675rem rgba(v.$pure-black, 7%);
  }
  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
  }

  .navbar-nav {
    > li {
      a {
        color: v.$black;
        @include m.transition(200);

        &:hover,
        &:active {
          color: v.$danger;
        }
      }

      @include media-breakpoint-up(lg, v.$bs-grid-breakpoints) {
        &:not(:last-child) {
          padding-right: 1rem;
        }
      }
    }
  }
}
