/*-------------------
  Hero Section
---------------------*/

@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.hero {
  &__banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 95% center;
    min-height: f.pix_to_rem(640);
    position: relative;

    &--text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-110%, -50%);

      h1 {
        font-size: 6rem;
      }
    }

    &--1 {
      background-image: url("../../assets/images/slide1.jpg");
    }

    &--2 {
      background-image: url("../../assets/images/slide2.jpg");
    }
  }

  .carousel-indicators [data-bs-target] {
    background-color: v.$danger;
    height: f.pix_to_rem(5);
    width: f.pix_to_rem(35);
  }

  .carousel-control-prev {
    color: v.$danger;
  }
  .carousel-control-next {
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none;
    font-size: 2.5rem;
    color: v.$danger;
  }
}
