// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  line-height: 1.75rem;
  background: v.$white;
  color: v.$black;
  overflow-x: hidden;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}
