/*========== Colors ==========*/
$danger: #f63440;
$white: #fff;
$light-white: #f5f5f5;
$black: #121212;
$pure-black: #000000;
$gray: #aaa;
$dark-gray: #777;

$body-font: "Poppins", sans-serif;

$bs-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
